---
// @ts-ignore
import { Icon } from "astro-icon/components";
---

<div class="mt-24">
  <h2 class="text-center text-slate-300">
    Compatible with your favorite DAO frameworks:
  </h2>
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">
    <img
      class="size-16 md:size-20"
      src="/src/assets/aragonproject_logo.jpeg"
      alt="Aragon Logo"
    />
    <img
      class="size-20 md:size-28"
      src="/src/assets/colony_io_logo.jpeg"
      alt="Colony Logo"
    />
    <img
      class="size-16 md:size-20"
      src="/src/assets/moloch-logo.gif"
      alt="Moloch Logo"
    />
  </div>
</div>
