---
// @ts-ignore
import { Icon } from "astro-icon/components";
import aragonLogo from "assets/aragonproject_logo.png";
import colonyLogo from "assets/colony_io_logo.png";
import molochLogo from "assets/moloch-logo.png";
import { Picture } from "astro:assets";
---

<div class="mt-24">
  <h2 class="text-center text-slate-900 font-semibold text-xl">
    Compatible with your favorite DAO frameworks:
  </h2>
  <div
    class="flex gap-8 md:gap-20 justify-center mt-10 flex-wrap text-slate-100 text-center">
    <a
      href="https://daohaus.club/"
      target="_blank"
      class="text-center justify-center align-center">
      <figure>
        <Picture
          class="size-16 md:size-20 mx-auto"
          src={molochLogo}
          alt="Moloch Logo"
        />
        <figcaption class="mt-2">Coming Soon</figcaption>
      </figure>
    </a>
    <a href="https://aragon.org/" target="_blank">
      <figure>
        <Picture
          class="size-16 md:size-20 mx-auto"
          src={aragonLogo}
          alt="Aragon Logo"
        />
        <figcaption class="mt-2">Available</figcaption>
      </figure>
    </a>
    <a href="https://colony.io/" target="_blank">
      <figure>
        <Picture
          class="size-16 md:size-20 mx-auto"
          src={colonyLogo}
          alt="Colony Logo"
        />
        <figcaption class="mt-2">Coming Soon</figcaption>
      </figure>
    </a>
  </div>
</div>
