---
// @ts-ignore
import FeatureListItem from "./FeatureListItem.astro";
import type { Feature } from "./types";

interface Props {
  title?: string;
  subtitle?: string;
  features: Feature[];
}

const { title, subtitle, features } = Astro.props;
---

<div class="max-w-screen-xl mx-auto px-5 mb-16">
  {
    (title || subtitle) && (
      <div class="max-w-4xl mx-auto flex flex-col items-center justify-center">
        {title && (
          <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight mt-4 text-center font-display">
            {title}
          </h2>
        )}
        {subtitle && (
          <p class="text-lg mt-4 text-slate-100 text-center [text-wrap:pretty]">
            {subtitle}
          </p>
        )}
      </div>
    )
  }

  <div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
    {features.map((item) => <FeatureListItem feature={item} />)}
  </div>
</div>
